In [2]:
# string is a sequence of unicode (universal code) character
#unicode is for 16 million characters
#python supports unicode (for multiple language)
#indexing- starts with 0, we csn access individual characters, indexing can be from left (0,1,2..) or right(-3,-2,-1)
#slicing- a section of string

In [5]:
s='digipodium'
slice1 = s[4:7]  #slice no. se ek kam no. tak
print(slice1)
print(s[0:4]) 
                 #if omiting first index, slice strts at [0]
print(s[:4])
print(s[4:])    #if omiting secong index, slice ends at [last]

pod
digi
digi
podium

In [3]:
name='Anusha Mujeeb'
fname= name[:6]
lname= name[7:]
print(fname)
print(lname)

Anusha
Mujeeb

In [5]:
#string reverse - with slicing (only)
name[::-1]    #:: right to left

'beejuM ahsunA'

In [6]:
#even character of string
name[::2]

'Auh ueb'

In [7]:
# odd character of string
name[1::2]

'nsaMje'

In [9]:
name[::-1][:6][::-1]

'Mujeeb'

In [10]:
data='59.30%'   #convert this to float
float(data[:-1])   #[:-1]   starting se chalo, last wala chhor do

59.3

In [12]:
value= '$56780+'
int(value[1:-1])     #first se start, last wala chhoro

56780

In [17]:
#builtin function
#chr tells unicode
x= chr(8)
print(x)
print(chr(65))
print(chr(123456))   #as memory for 16 mil. not supporting on vs code, printing ?
print(chr(2365))


A
ðž‰€
à¤½

In [20]:
# to know unicode------ord(''),only single character at once
y= ord ('A')
print(y)
print (ord('?'))
print(ord('a'))

65
63
97

In [24]:
#concatenation= to join 2 or more strings
a='Anusha'
b='Mujeeb'
print(a+' ' +b)

Anusha Mujeeb

In [27]:
#duplication= if string is multiplied by a no, it gets repeated
print(a*3)
#for spacing, enter a space within string
h='hi '
print(h*5)
print('-'*25)

AnushaAnushaAnusha
hi hi hi hi hi
-------------------------

In [28]:
#pattern printing
#using duplication with for loop

In [1]:
#name[: : :]- error aayega

In [2]:
#functions of string---- string methods
#variable k baad access is method, directly is function
x= 'alpha'
#x. k baad jo list aa rhi wo methods hai, depends on data type
#formatting methods
 #   -upper()     return type function
 #     -lower()   return type function
 #  -capitalize()  return type function
 #  -title()
 #   -swapcase()

In [3]:
msg ='Journey Before Destination'

In [4]:
msg.upper()

'JOURNEY BEFORE DESTINATION'

In [5]:
msg.lower()

'journey before destination'

In [9]:
print(msg)   #the methods are only for output as they are not saved above in any variable. to save changes store in any other variable

Journey Before Destination

In [8]:
msg.capitalize()    #capitalises first letter of string

'Journey before destination'

In [10]:
msg.swapcase()    #changes case of character

'jOURNEY bEFORE dESTINATION'

In [11]:
msg.title()   #har word k first character ko capital

'Journey Before Destination'

In [12]:
msg.casefold()   #same as lower in terms of output

'journey before destination'

In [13]:
#   string utility method
#  - strip()
#  -count()
#   -split()
#   -join()
#    -find()
#    -replace()

In [16]:
name = input('enter your name')
print(name)   #space given in name
print(len(name))

    Anusha
10

In [18]:
clean_name=name.strip()   #starting or ending k space remove karega, beech ki space nii dekhta
print(clean_name,len(clean_name))

Anusha 6

In [19]:
data='abcdeabcdeafyghnagnjklaaartgh'
data.count('a')   #count no. of a in string   'a' and 'A' are different

7

In [20]:
data.count('a')+ data.count('b')

9

In [36]:
data= '''Once upon a time , there was a hero who saved the world. One   
 day he went to sleep. the end'''
data.count('the')   #because there ka the bhi count hua hai

3

In [26]:
len(data) #no. of characters

88

In [29]:
words=data.split()    #words alag kar deta hai  #to find no. of words
print(words, len(words))

['Once', 'upon', 'a', 'time', 'there', 'was', 'a', 'hero', 'who', 'saved', 'the', 'world.', 'One', 'day', 'he', 'went', 'to', 'sleep.', 'the', 'end'] 20

In [32]:
data.split('e')   #character se alag karta hai

['Onc',
 ' upon a tim',
 ' th',
 'r',
 ' was a h',
 'ro who sav',
 'd th',
 ' world. On',
 ' day h',
 ' w',
 'nt to sl',
 '',
 'p. th',
 ' ',
 'nd']

In [37]:
print(data)

Once upon a time , there was a hero who saved the world. One
 day he went to sleep. the end

In [39]:
data.splitlines()   #line split karta hai

['Once upon a time , there was a hero who saved the world. One   ',
 ' day he went to sleep. the end']

In [43]:
address_parts =['C 184,4',
                'Railway Colony',
                'RDSO',
                'Manak Nagar',
                'Lucknow',
                '226011']

In [44]:
print(address_parts)   #list of words hain, users ko display krne layak nahi hai

['C 184,4', 'Railway Colony', 'RDSO', 'Manak Nagar', 'Lucknow', '226011']

In [45]:
" ".join(address_parts)   # ek character jisse join karna ho usko .join(variable)

'C 184,4 Railway Colony RDSO Manak Nagar Lucknow 226011'

In [47]:
print('\n'.join(address_parts))   #yaha \n se join hai

C 184,4
Railway Colony
RDSO
Manak Nagar
Lucknow
226011